/DRAJAK-ejb/build/
/DRAJAK-ejb/dist/
/build/
/dist/
/DRAJAK-war/dist/
/DRAJAK-war/build/
/nbproject/private/
/DRAJAK-war/nbproject/private/
/DRAJAK-ejb/nbproject/private/
/DRAJAK_BD/
/BD_DRAJAK/